.vscode/**
.vscode-test/**
src/**
webview/src/**
webview/node_modules/**
webview/package.json
webview/package-lock.json
webview/tsconfig.json
webview/vite.config.ts
webview/tailwind.config.js
webview/postcss.config.js
.gitignore
**/*.ts
!out/**/*.d.ts
**/*.map
!webview/dist/**
!bin/**
